{% extends 'base-detail.html' %}
{% block menu %}
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="/">Проекты</a></li>
                            <li><a href="/timesheets">Время</a></li>
                            <li><a href="/backlog">Бэклог</a></li>
                            <li><a href="/issue">Ишью</a></li>
                            <li><a href="/wiki">Вики</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>

<h2>Сейчас в работе:</h2>
    (тут необходимо выводить и фичи и баги)
    <ul>
    {% for obj in in_work %}
        <li><a href="/feature/{{feature.pk}}">{{obj}}</a></li>
    {% empty %}

    <div>Фичи кончились(</div>
    {% endfor %}
    </ul>

<h2>Срочно надо сделать:</h2>
    (тут надо выводить и фичи и баги)
    <ul>
    {% for feature in object.features %}
        <li><a href="/feature/{{feature.pk}}">{{feature}}</a></li>
    {% empty %}

    <div>Фичи кончились(</div>
    {% endfor %}
    </ul>

{% endblock %}