{% extends 'base-detail.html' %}
{% block menu %}
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="/">Проекты</a></li>
                            <li><a href="/timesheets">Время</a></li>
                            <li><a href="/backlog">Бэклог</a></li>
                            <li><a href="/issue">Ишью</a></li>
                            <li><a href="/wiki">Вики</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>

<h2>Фичи:</h2>
    <ul>
    {% for feature in object.features %}
        <li>{{feature}}</li>
    {% empty %}

    <div>Фичи кончились(</div>
    {% endfor %}
    </ul>


<h2>Баги:</h2>
<ul>

    {% for bug in object.bugs %}
    <li>{{bug}}</li>
    {% empty %}
    <li>Багов нет)</li>
    {% endfor %}
</ul>

{% endblock %}